@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';


@utility use-transition {
    @apply transition-all ease-in-out duration-200
}

@utility link {
    @apply inline-block pt-1 pb-1 font-semibold
}

@utility link-seperator {
    @apply h-[0.03rem] inline-block
}

@utility hover-lighting {
    @apply hover:text-hero-text transition-all ease-in-out duration-200
}

@utility social-icon {
    @apply bg-transparent text-web-text  hover:cursor-pointer;
}
@keyframes gradient-flow {
    0% {
        background-size: 0;
        background-repeat: no-repeat;
    }
    100% {
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@utility animate-gradient {
    animation-name: gradient-flow;
    animation-duration: 1s;
}

@theme {
    --color-deeppurple: rgb(10, 0, 27);
    --color-hero-text: rgb(226 232 240);
    --color-web-text: rgb(148, 163, 184);
    --font-inter--font-feature-settings: 'liga' 1, 'calt' 1;
    --font-inter: Inter, sans-serif;
}
:root {
    scroll-behavior: smooth;
    color: var(--color-web-text);
    font-family: Inter, sans-serif;
    --default-font-family: Inter;
}

::selection {
    background-color: #ffcc00;
    color: black;
}
